* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/*----------------------------------------------DESKTOP-------------------------------------------------------------------*/
@media only screen and (min-width:600px) {

    /* INICIO DEL BODY */
        .layout{
                display: grid;
                grid-template-columns:10% auto;
                grid-template-rows: 10% 5fr 3%;
                grid-template-areas:"header header"
                                    "nav main"
                                    "footer footer";
                column-gap:5px;
                row-gap: 5px;
        }
    /* FIN DEL BODY */

    /*-------------------------------------------------------------------------------------------*/
    /*-------------------------------------------------------------------------------------------*/

    /* INICIO DEL HEADER */
    .header{
        display: grid;
        height: 20vh;
        grid-area: header;
        background-image: url("../images/Header\ grids.jpg");
        background-repeat:no-repeat;
}

    .header__titulo{
        color: #a57c5b;
        font-style: italic;
        font-family:'Dancing Script', cursive;
        text-align: center;
        justify-self: center;
        align-self: center;
        font-size: 250%;
    }
    /* FIN DEL HEADER*/        

    /*-------------------------------------------------------------------------------------------*/
    /*-------------------------------------------------------------------------------------------*/

    /* INICIO DEL NAVEGADOR */   
        .nav{
            background-color: #eee3d9b4;
            display: grid;
            grid-area: nav;
            font-family: 'Lato', sans-serif;
            text-align: center;
            font-size: 15px;
        }

        .nav__links{
            list-style-type: none;
            justify-self: center;
            align-self: flex-start;
            line-height: 50px;
        }

        .nav__link{
            text-decoration: none;
            font-weight: bolder;
            width: auto;
        }
    /*FIN DEL NAVEGADOR*/

    /*-------------------------------------------------------------------------------------------*/
    /*-------------------------------------------------------------------------------------------*/

    /* INICIO DEL MAIN DE GALERÍA */
        .main-galeria{
            display: grid;
            grid-area: main;
            background-color: #8adef3d3;
            font-size: 25px;
            font-style: normal;
            font-family: 'Cormorant Garamond';
            text-align: center;
            color: rgb(121, 79, 79);
        }

        .contenido-principal{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .buscar{
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            padding-right: 10px;
            padding-top: 10px;
        }

        .buscar__input{
            height: 30px;
            border-radius: 25px;
        }

        .complejo, .pileta, .rios, .paisajes{
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            column-gap:10px;
            row-gap: 5px;
            padding: 5px;
            margin: 5px;
        }

        .complejo-titulo{
            display: flex;
            flex-direction: column;
            justify-self: center;
        }

        .complejo-foto1, .complejo-foto2, .complejo-foto3, .complejo-foto4{
            height: auto;
            width: auto;
            max-height: 400px;
            max-width: 400px;
            border-radius: 35px;
            box-shadow: 0px 2px 8px 0px black;
        }

        .pileta-foto1, .pileta-foto2{
            border-radius: 35px;
            box-shadow: 0px 2px 8px 0px black;
        }

        .rios-foto1, .rios-foto2, .rios-foto3{
            object-fit:cover;
            height: auto;
            width: auto;
            max-height: 400px;
            max-width: 400px;
            border-radius: 35px;
            box-shadow: 0px 2px 8px 0px black;
            
        }

        .paisajes-foto1, .paisajes-foto2 {
            object-fit: cover;
            height: auto;
            width: auto;
            max-height: 500px;
            max-width: 500px;
            border-radius: 35px;
            box-shadow: 0px 2px 8px 0px black;
        }
    /*-------------------------------------------------------------------------------------------*/
    /*-------------------------------------------------------------------------------------------*/

    /* INICIO DEL FOOTER */

    .footer{
        display: grid;
        grid-area: footer;
        background-color: rgb(236, 226, 226);
        text-align: center;
        font-family: 'Lato', sans-serif;
        font-style: bold;
    }

    .social-copyright{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .datos-de-contacto{
        display: flex;
        justify-content: space-evenly;
    }

    .copyright {
        display: flex;
        justify-content: space-around;
        font-weight: 10px;
    }
    /* FIN DEL FOOTER */

    /*-------------------------------------------------------------------------------------------*/
    /*-------------------------------------------------------------------------------------------*/
}

    /*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
    /*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
    /*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
    /*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
    /*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*---------------------------------------------------MOBILE----------------------------------------------------*/
@media only screen and (max-width:600px) {
    /* INICIO DEL BODY */
        .layout{
                display: flex;
                flex-direction: column;
                column-gap:5px;
                row-gap: 5px;
        }
    /* FIN DEL BODY */

    /*-------------------------------------------------------------------------------------------*/
    /*-------------------------------------------------------------------------------------------*/

    /* INICIO DEL HEADER */
        .header{
            height: 13vh;
            background-image: url("../images/Header\ grids.jpg");
            background-repeat:no-repeat;
            background-position: center;
        }

        .header__titulo{
            color: #a57c5b;
            font-style: italic;
            font-family:'Dancing Script', cursive;
            padding-top: 25px;
            text-align: center;
            justify-self: center;
            align-self: center;
            font-size: 30px;
            line-height: 25px;
        }

    /* FIN DEL HEADER*/        

    /*-------------------------------------------------------------------------------------------*/
    /*-------------------------------------------------------------------------------------------*/

    /* INICIO DEL NAVEGADOR */   
        .nav{
            background-color: #eee3d9b4;
            font-family: 'Lato', sans-serif;
            text-align: center;
            font-size: 15px;
        }

        .nav__links{
            list-style-type: none;
            justify-self: center;
            align-self: flex-start;
            flex-wrap: wrap;
            line-height: 30px;
        }

        .nav__link{
            text-decoration: none;
            font-weight: bolder;
        }
    /*FIN DEL NAVEGADOR*/

    /*-------------------------------------------------------------------------------------------*/
    /*-------------------------------------------------------------------------------------------*/

    /* INICIO DEL MAIN DE GALERÍA */
        .main-galeria{
            display: grid;
            grid-area: main;
            background-color: #8adef3d3;
            font-size: 25px;
            font-style: normal;
            font-family: 'Cormorant Garamond';
            text-align: center;
            color: rgb(121, 79, 79);
        }

        .contenido-principal{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .buscar{
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            padding-right: 10px;
            padding-top: 10px;
        }

        .buscar__input{
            height: 30px;
            border-radius: 25px;
        }

        .complejo, .pileta, .rios, .paisajes{
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            column-gap:10px;
            row-gap: 5px;
            padding: 5px;
            margin: 5px;
        }

        .complejo-titulo{
            display: flex;
            flex-direction: column;
            justify-self: center;
        }

        .complejo-foto1, .complejo-foto2, .complejo-foto3, .complejo-foto4{
            height: auto;
            width: auto;
            max-height: 400px;
            max-width: 400px;
            border-radius: 35px;
            box-shadow: 0px 2px 8px 0px black;
        }

        .pileta-foto1, .pileta-foto2{
            border-radius: 35px;
            box-shadow: 0px 2px 8px 0px black;
        }

        .rios-foto1, .rios-foto2, .rios-foto3{
            object-fit:cover;
            height: auto;
            width: auto;
            max-height: 400px;
            max-width: 400px;
            border-radius: 35px;
            box-shadow: 0px 2px 8px 0px black;
            
        }

        .paisajes-foto1, .paisajes-foto2 {
            object-fit: cover;
            height: auto;
            width: auto;
            max-height: 500px;
            max-width: 500px;
            border-radius: 35px;
            box-shadow: 0px 2px 8px 0px black;
        }
    /*-------------------------------------------------------------------------------------------*/
    /*-------------------------------------------------------------------------------------------*/

    /* INICIO DEL FOOTER */
        .footer{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        background-color: rgb(236, 226, 226);
        text-align: center;
        font-family: 'Lato', sans-serif;
        font-style: bold;
        padding: 10px;
        padding-bottom: 5px;
        }

        .social-copyright{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        }

        .datos-de-contacto{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        font-size: small;
        }

    .copyright {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        font-size: small;
    }
    /* FIN DEL FOOTER */

    /*-------------------------------------------------------------------------------------------*/
    /*-------------------------------------------------------------------------------------------*/
}