* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/*----------------------------------------------DESKTOP-------------------------------------------------------------------*/
@media only screen and (min-width:600px) {

    /* INICIO DEL BODY */
        .layout{
                display: grid;
                grid-template-columns:10% auto;
                grid-template-rows: 20% auto 10%;
                grid-template-areas:"header header"
                                    "nav main"
                                    "footer footer";
                column-gap:5px;
                row-gap: 5px;
        }
    /* FIN DEL BODY */

    /*-------------------------------------------------------------------------------------------*/
    /*-------------------------------------------------------------------------------------------*/

    /* INICIO DEL HEADER */
        .header{
                display: grid;
                height: 20vh;
                grid-area: header;
                background-image: url("../images/Header\ grids.jpg");
                background-repeat:no-repeat;
        }

        .header__titulo{
            color: #a57c5b;
            font-style: italic;
            font-family:'Dancing Script', cursive;
            text-align: center;
            justify-self: center;
            align-self: center;
            font-size: 250%;
        }
    /* FIN DEL HEADER*/        

    /*-------------------------------------------------------------------------------------------*/
    /*-------------------------------------------------------------------------------------------*/

    /* INICIO DEL NAVEGADOR */   
        .nav{
            background-color: #eee3d9b4;
            display: grid;
            grid-area: nav;
            font-family: 'Lato', sans-serif;
            text-align: center;
            font-size: 15px;
        }

        .nav__links{
            list-style-type: none;
            justify-self: center;
            align-self: flex-start;
            line-height: 50px;
        }

        .nav__link{
            text-decoration: none;
            font-weight: bolder;
            width: auto;
        }
    /*FIN DEL NAVEGADOR*/

    /*-------------------------------------------------------------------------------------------*/
    /*-------------------------------------------------------------------------------------------*/

    /* INICIO DEL MAIN DEL INDEX */
    .main-index{
        background-color: #e9b78fb4;
        display: grid;
        grid-area: main;
    }

    .contenido-principal{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }

    .buscar{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
        padding-right: 10px;
        padding-top: 10px;
    }

    .buscar__input{
        height: 30px;
        border-radius: 25px;
    }

    .contenedor-video{
        display: flex;
        flex-direction: column;
        width: 67%;
        margin: auto;

    }

    .contenedor-video-yt{
        position: relative;
        margin-right: 100px;
        margin-bottom: 5px;
        margin-left: 100px;
        padding-bottom: 40%;
        overflow: hidden;
        border: 5px solid #8a7b70b4;
        border-radius: 10px;
    }

    .video-yt iframe{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    
    .cuadro-de-comentarios{
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto;
        grid-template-areas: "foto comentario";
        border: 4px solid #8a7b70b4;
        border-radius: 10px;
        margin-top: 10px;
        margin-right: 300px;
        margin-bottom: 40px;
        margin-left: 300px;
    }

    .cuadro-de-comentarios__texto{
        display: grid;
        grid-area: comentario;
        position: relative;
    }

    .cuadro-de-comentarios__titulo {
        font-size: 30px;
        font-style: normal;
        font-family: 'Cormorant Garamond';
        text-align: center;
        color: rgb(121, 79, 79);
        padding-top: 10px;
    }

    .cuadro-de-comentarios__comentario{
        text-align:center;
        font-family: 'Lato';

    }

    .cuadro-de-comentarios__foto{
        height: 30vh;
        border-radius: 35px;
        padding:  5px;
    }

    /* FIN DEL MAIN DEL INDEX */

    /*-------------------------------------------------------------------------------------------*/
    /*-------------------------------------------------------------------------------------------*/

    /* INICIO DEL FOOTER */

            .footer{
                display: grid;
                grid-area: footer;
                background-color: rgb(236, 226, 226);
                text-align: center;
                font-family: 'Lato', sans-serif;
                font-style: bold;
            }

            .social-copyright{
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: space-around;
            }

            .datos-de-contacto{
                display: flex;
                justify-content: space-evenly;
            }

            .copyright {
                display: flex;
                justify-content: space-around;
                font-weight: 100;
            }

    /* FIN DEL FOOTER */

    /*-------------------------------------------------------------------------------------------*/
    /*-------------------------------------------------------------------------------------------*/
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*---------------------------------------------------MOBILE----------------------------------------------------*/
@media only screen and (max-width:600px) {

    /* INICIO DEL BODY */
        .layout{
            display: flex;
            flex-direction: column;
            column-gap:5px;
            row-gap: 5px;
        }
    /* FIN DEL BODY */

    /*-------------------------------------------------------------------------------------------*/
    /*-------------------------------------------------------------------------------------------*/

    /* INICIO DEL HEADER */
        .header{
            height:13vh;
            background-image: url("../images/Header\ grids.jpg");
            background-repeat:no-repeat;
            background-position: center;
        }

        .header__titulo{
            color: #a57c5b;
            font-style: italic;
            font-family:'Dancing Script', cursive;
            text-align: center;
            justify-self: center;
            align-self: center;
            padding-top: 25px;
            font-size: 30px;
            line-height: 25px;
        }
    /* FIN DEL HEADER*/        

    /*-------------------------------------------------------------------------------------------*/
    /*-------------------------------------------------------------------------------------------*/

    /* INICIO DEL NAVEGADOR */   
        .nav{
            background-color: #eee3d9b4;
            font-family: 'Lato', sans-serif;
            text-align: center;
            font-size: 15px;   
        }

        .nav__links{
            list-style-type: none;
            justify-self: center;
            align-self: flex-start;
            flex-wrap: wrap;
            line-height: 30px;
        }

        .nav__link{
            text-decoration: none;
            font-weight: bolder;
        }
    /*FIN DEL NAVEGADOR*/

    /*-------------------------------------------------------------------------------------------*/
    /*-------------------------------------------------------------------------------------------*/

    /* INICIO DEL MAIN DEL INDEX */
        .main-index{
            background-color: #e9b78fb4;
        }

        .contenido-principal{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
        }

        .buscar{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-end;
            padding-right: 10px;
            padding-top: 10px;
        }

        .buscar__input{
            height: 30px;
            border-radius: 25px;
        }

        .contenedor-video{
            display: flex;
            flex-direction: column;
            width: 67%;
            margin: auto;
        }

        .contenedor-video-yt{
            position: relative;
            margin-top: 10px;
            margin-bottom: 10px;
            padding-bottom: 70%;
            padding-top: 0px;
            height: 0;
            overflow: hidden;
            border: 5px solid #8a7b70b4;
            border-radius: 10px;
        }

        .video-yt iframe{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        .cuadro-de-comentarios{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            padding-bottom: 10px;
        }

        .cuadro-de-comentarios__texto{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }

        .cuadro-de-comentarios__titulo{
            font-size: 30px;
            font-style: normal;
            font-family: 'Cormorant Garamond';
            text-align: center;
            color: rgb(121, 79, 79);
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }

        .cuadro-de-comentarios__comentario{
            text-align: center;
            font-family: 'Lato';
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }

        .cuadro-de-comentarios__foto {
            display: none;
        }

    /* FIN DEL MAIN DEL INDEX */

    /*-------------------------------------------------------------------------------------------*/
    /*-------------------------------------------------------------------------------------------*/

    /* INICIO DEL FOOTER */
        .footer{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            background-color: rgb(236, 226, 226);
            text-align: center;
            font-family: 'Lato', sans-serif;
            height: auto;
            font-style: bold;
            padding: 10px;
            padding-bottom: 5px;
        }

        .social-copyright{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        .datos-de-contacto{
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            font-size: small;
        }

        .copyright{
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            font-size: smaller;
        }
    /* FIN DEL FOOTER */
}