* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/*BODY*/

/*----------------------------------------------DESKTOP-------------------------------------------------------------------*/
@media only screen and (min-width:600px) {
    /* INICIO DEL BODY */
        .layout{
                display: grid;
                grid-template-columns:10% auto;
                grid-template-rows: 15% 5fr 15%;
                grid-template-areas:"header header"
                                    "nav main"
                                    "footer footer";
                column-gap:5px;
                row-gap: 5px;
        }
    
    /* FIN DEL BODY */

    /*-------------------------------------------------------------------------------------------*/
    /*-------------------------------------------------------------------------------------------*/

    /* INICIO DEL HEADER */
    .header{
        display: grid;
        height: 20vh;
        grid-area: header;
        background-image: url("../images/Header\ grids.jpg");
        background-repeat:no-repeat;
}

    .header__titulo{
        color: #a57c5b;
        font-style: italic;
        font-family:'Dancing Script', cursive;
        text-align: center;
        justify-self: center;
        align-self: center;
        font-size: 250%;
    }
    /* FIN DEL HEADER */        

    /*-------------------------------------------------------------------------------------------*/
    /*-------------------------------------------------------------------------------------------*/

    /* INICIO DEL NAVEGADOR */ 
        .nav{
            background-color: #eee3d9b4;
            display: grid;
            grid-area: nav;
            font-family: 'Lato', sans-serif;
            text-align: center;
            font-size: 15px;
        }

        .nav__links{
            list-style-type: none;
            justify-self: center;
            align-self: flex-start;
            line-height: 50px;
        }

        .nav__link{
            text-decoration: none;
            font-weight: bolder;
            width: auto;
        }
    /* FIN DEL NAVEGADOR */

    /*-------------------------------------------------------------------------------------------*/
    /*-------------------------------------------------------------------------------------------*/

    /* INICIO DEL MAIN DE SERVICIOS */
        .main-servicios{
            display: grid;
            grid-area: main;
            background-color: #d1c5ceb4;
            padding: 5px;
        }

        .contenido-principal{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 3rem;
        }

        .buscar{
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            padding-right: 10px;
            padding-top: 10px;
        }

        .buscar__input{ 
            height: 30px;
            border-radius: 25px;
        }

        .desayuno, .pileta, .excursiones, .trekking{
            color: rgb(121, 79, 79);
            font-style: italic;
            font-family: 'Cormorant';
            overflow: hidden;
            box-shadow: 0px 2px 8px 0px black;
            background-color: white;
            text-align: center;
            border-radius: 1rem;
            position: relative;
            width: 280px;
            padding-bottom: 1rem;
            margin-bottom: 1rem;
            margin-left: 1.25rem;
        }

        .fondo-tarjeta {
            position: absolute;
            background-image: url(../images/background\ servicios.png);
            height: 10rem;
            width: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .titulo {
            font-weight: bold;
            font-size: 1.5rem;
        }

        .descripcion {
            margin: 1rem 2rem;
            font-size: 0.9rem;
        }


        .boton{
            width: 100%;
            border: none;
            font-size: 1rem;
            font-weight: bold;
            color: #f3e1e1;
            padding: 1rem 0 1rem 0;
            background-color: #ca8499f2;
            border-radius: 15px;
            width: 55%;
        }

        .icono {
            width: 8rem;
            clip-path: circle(60px at center);
            /*clip-path: circle(43.7% at 51% 44%);*/
            margin-top: 4.5rem;
        }

    /* FIN DEL MAIN DE SERVICIOS */

    /*-------------------------------------------------------------------------------------------*/
    /*-------------------------------------------------------------------------------------------*/

    /* INICIO DEL FOOTER */
        .footer{
            display: grid;
            grid-area: footer;
            background-color: rgb(236, 226, 226);
            text-align: center;
            font-family: 'Lato', sans-serif;
            font-style: bold;
        }

        .social-copyright{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        .datos-de-contacto{
            display: flex;
            justify-content: space-evenly;
        }

        .copyright{
            display: flex;
            justify-content: space-around;
            font-weight: 100;
            }
    /* FIN DEL FOOTER */

    /*-------------------------------------------------------------------------------------------*/
    /*-------------------------------------------------------------------------------------------*/
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*---------------------------------------------------MOBILE----------------------------------------------------*/
@media only screen and (max-width:600px) {
    /* INICIO DEL BODY */
        .layout{
            display:flex;
            flex-direction: column;
            column-gap:5px;
            row-gap: 5px;
        }
    /* FIN DEL BODY */

    /*-------------------------------------------------------------------------------------------*/
    /*-------------------------------------------------------------------------------------------*/

    /* INICIO DEL HEADER */
        .header{
            height: 13vh;
            background-image: url("../images/Header\ grids.jpg");
            background-repeat:no-repeat;
            background-position: center;
        }

        .header__titulo{
        color: #a57c5b;
        font-style: italic;
        font-family:'Dancing Script', cursive;
        padding-top: 25px;
        text-align: center;
        justify-self: center;
        align-self: center;
        font-size: 30px;
        
        }
    /* FIN DEL HEADER */        

    /*-------------------------------------------------------------------------------------------*/
    /*-------------------------------------------------------------------------------------------*/

    /* INICIO DEL NAVEGADOR */ 
        .nav{
            background-color: #eee3d9b4;
            font-family: 'Lato', sans-serif;
            text-align: center;
            font-size: 15px;
        }

        .nav__links{
            list-style-type: none;
            justify-self: center;
            align-self: flex-start;
            flex-wrap: wrap;
            line-height: 30px;
        }

        .nav__link{
            text-decoration: none;
            font-weight: bolder;
        }
    /* FIN DEL NAVEGADOR */

    /*-------------------------------------------------------------------------------------------*/
    /*-------------------------------------------------------------------------------------------*/

    /* INICIO DEL MAIN DE SERVICIOS */
        .main-servicios{
            display: grid;
            grid-area: main;
            background-color: #d1c5ceb4;
            padding: 5px;
        }

        .contenido-principal{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 3rem;
        }

        .buscar{
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            padding-right: 10px;
            padding-top: 10px;
        }

        .buscar__input{ 
            height: 30px;
            border-radius: 25px;
        }

        .desayuno, .pileta, .excursiones, .trekking{
            color: rgb(121, 79, 79);
            font-style: italic;
            font-family: 'Cormorant';
            overflow: hidden;
            box-shadow: 0px 2px 8px 0px black;
            background-color: white;
            text-align: center;
            border-radius: 1rem;
            position: relative;
            width: 280px;
            padding-bottom: 1rem;
            margin-bottom: 1rem;
            margin-left: 1.25rem;
        }

        .fondo-tarjeta{
            position: absolute;
            background-image: url(../images/background\ servicios.png);
            height: 10rem;
            width: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .titulo{
            font-weight: bold;
            font-size: 1.5rem;
        }

        .descripcion{
            margin: 1rem 2rem;
            font-size: 0.9rem;
        }

        .boton{
            width: 100%;
            border: none;
            font-size: 1rem;
            font-weight: bold;
            color: #f3e1e1;
            padding: 1rem 0 1rem 0;
            background-color: #ca8499f2;
            border-radius: 15px;
            width: 55%;
        }

        .icono{
            width: 8rem;
            clip-path: circle(60px at center);
            /*clip-path: circle(43.7% at 51% 44%);*/
            margin-top: 4.5rem;
        }
    /* FIN DEL MAIN DE SERVICIOS */

    /*-------------------------------------------------------------------------------------------*/
    /*-------------------------------------------------------------------------------------------*/

    /* INICIO DEL FOOTER */
        .footer{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            background-color: rgb(236, 226, 226);
            text-align: center;
            font-family: 'Lato', sans-serif;
            font-style: bold;
            padding: 10px;
            padding-bottom: 5px;
        }

        .social-copyright{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        .datos-de-contacto{
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            font-size: small;
        }

        .copyright{
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            font-size: smaller;
        }
    /* FIN DEL FOOTER */

    /*-------------------------------------------------------------------------------------------*/
    /*-------------------------------------------------------------------------------------------*/
}
